.wraper {
  margin: 0 10px;
}

.ant-tag-green {
  color: white !important;
  border-color: #64ea91 !important;
  background: #64ea91 !important;
}

.ant-tag-volcano {
  color: white !important;
  border-color: #f69899 !important;
  background: #f69899 !important;
}
