.pagination {
  text-align: end;
}

.pagination__container {
  margin: 20px 0 20px 0;
}

.header__table {
  margin-bottom: 10px;
}

.item__optional__menu {
  cursor: pointer;
  list-style: none;
  padding: 5px;
}
